<div class="row" style="margin-top: 60px;">
	<div class="large-6 medium-8 small-12 large-centered small-centered columns">
		<div class="panel radius shadow-2">
			<div class="row">
				<div class="small-12 columns" style="text-align: center;">
					<img src="img/logo-large.png" />
				</div>
			</div>
			<div id="panelContent" class="row" style="margin-top: 25px;">
				<div class="small-12 columns" style="text-align: center;">
					<i class="fa fa-spinner fa-spin fa-4x"></i>
				</div>
			</div>
		</div>
	</div>
</div>