body {
	font-family: $font-1;
	font-weight: $base-font-weight;
	background-color: $color-bg-page;
	color: $color-text;
}

h1 {
	font-size: 2.2em;
	font-weight: 100;
	margin-bottom: 25px;
}

h1.tile-group-title {
	font-size: 1.75em;
}

h2 {
	font-family: $font-1;
	font-size: 1.5em;
	font-weight: 100;
	margin-bottom: 15px;
}

h6 {
	color: $color-form-help-text;
	font-family: $font-1;
	font-size: .8em;
	margin-top: 15px;
}

.panel {
	background-color: $color-panel-bg;
	border: 1px solid $color-panel-border;
}

.icon-button {
	cursor: pointer;
	color: $color-btn-primary;
}

.icon-button:hover {
	color: $color-btn-primary-hover;
}

fieldset {
	margin: 0;
	padding: 10px;
}

label {
	p {
		color: $color-form-help-text;
		font-size: .9em;
		line-height: 1.1em;
		margin-top: -.9em;
	}
}

.title {
  color: $color-text-light;
}

.disabled {
	color: $color-disabled;
}

#content-container {
	padding-top: 25px;
}
