<div class="nav">
	<div class="left">
		<img id="logo" class="icon-left icon-button" src="img/logo.png" />
	</div>
	<div class="right">
		<i id="sidebar-button" class="fa fa-bars icon-button"></i>
	</div>
	<% if (false) { %>
		<div class="center">
			<select class="custom radius">
				<option>My Hub</option>
			</select>
		</div>
	<% } %>
</div>
<div class="subnav shadow-2">
	<ul class="subnav-list">
		<% if (hub) { %>
			<li class="subnav-item"><a id="dashboard" class="<%= fragment.indexOf('dashboard') > -1 ? 'active' : '' %>" href="#dashboard"><i class="fa fa-dashboard fa-lg"></i>&nbsp;&nbsp;<%= strings.Dashboard %></a></li>
			<li class="subnav-item"><a id="tasks" class="<%= fragment.indexOf('tasks') > -1 ? 'active' : '' %>" href="#tasks"><i class="fa fa-wrench fa-lg"></i>&nbsp;&nbsp;<%= strings.Tasks %></a></li>
			<li class="subnav-item"><a id="settings" class="<%= fragment.indexOf('settings') > -1 ? 'active' : '' %>" href="#settings"><i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;<%= strings.Settings %></a></li>
		<% } %>
		<% if (user.remoteInfo) { %>
			<li class="subnav-item">
				<a id="cloudlink" class="<%= fragment.indexOf('account') > -1 ? 'active' : '' %>" href="#account"><i class="fa fa-cloud fa-lg"></i>&nbsp;&nbsp;CloudLink</a>
			</li>
		<% } %>
		<li class="subnav-item-right"><i id="power-button" class="fa fa-power-off fa-lg secondary icon-button"></i></li>
	</ul>
</div>
<div id="power-off-modal" class="reveal-modal" data-reveal>
</div>