<div class="expanded row" style="width: 100%; margin-left: auto; margin-right: auto; max-width: initial; height: 80px;">
	<div class="small-4 columns" style="padding-left: 35px;">
		<img id="logo" style="margin-top: 15px;" class="icon-left icon-button" src="img/logo.png" />
	</div>
  <div class="small-4 columns" style="text-align: center;">
    <div id="away-button" title="Toggles hub away mode" class="away-button shadow-2 icon-button <%= away ? 'away' : '' %>">
      <div id="home-label-container" class="away-container" style="display: <%= !away ? 'block' : 'none' %>;">
        <div id="home-icon" class="away-icon"><i class="fa fa-2x fa-home"></i></div>
        <div id="home-text" class="away-text">Home</div>
      </div>
      <div id="away-label-container" class="away-container" style="display: <%= away ? 'block' : 'none' %>">
        <div id="away-icon" class="away-icon"><i class="fa fa-2x fa-plane"></i></div>
        <div id="away-text" class="away-text">Away</div>
      </div>
    </div>
  </div>
  <div class="small-4 columns" style="">
	  <% if (showActivityLog) { %>
      <div class="right" style="margin-top: 10px; margin-right: 10px;">
  			<i id="sidebar-button" style="margin-top: 20px;" class="fa fa-bars fa-lg icon-button"></i>
      </div>
	  <% } %>
  </div>
</div>
<div class="subnav shadow-2">
	<ul class="show-for-medium-up subnav-list">
		<% if (hub) { %>
			<li class="subnav-item"><a id="dashboard" class="<%= fragment.indexOf('dashboard') > -1 ? 'active' : '' %>" href="#dashboard"><i class="fa fa-lightbulb-o fa-lg"></i>&nbsp;&nbsp;<%= strings.Devices %></a></li>
			<li class="subnav-item"><a id="tasks" class="<%= fragment.indexOf('tasks') > -1 ? 'active' : '' %>" href="#tasks"><i class="fa fa-wrench fa-lg"></i>&nbsp;&nbsp;<%= strings.Tasks %></a></li>
			<% if (showDataStreams) { %>
				<li class="subnav-item"><a id="data" class="<%= fragment.indexOf('data') > -1 ? 'active' : '' %>" href="#data"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;&nbsp;Data</a></li>
			<% } %>
			<li class="subnav-item"><a id="settings" class="<%= fragment.indexOf('settings') > -1 ? 'active' : '' %>" href="#settings"><i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;<%= strings.Settings %></a></li>
		<% } %>
		<% if (showAccount) { %>
			<li class="subnav-item"><a id="account" class="<%= fragment.indexOf('account') > -1 ? 'active' : '' %>" href="#account"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;Account</a></li>
		<% } %>
			<li class="subnav-item-right">
        <% if (showPowerOff) { %>
          <i id="power-button" title="<%= strings.ShutdownHub %>" class="fa fa-power-off fa-lg secondary icon-button"></i>&nbsp;&nbsp;
        <% } %>
        <i id="logout" title="<%= strings.Logout %>" class="fa fa-sign-out fa-lg secondary icon-button"></i>
      </li>
	</ul>
  <ul class="show-for-small-only subnav-list">
    <li class="subnav-item">
        <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><i class="fa fa-navicon fa-lg"></i>&nbsp;&nbsp;<%= strings.Menu %></a>
        <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="#dashboard"><i class="fa fa-dashboard fa-lg"></i>&nbsp;&nbsp;<%= strings.Dashboard %></a></li>
          <li><a href="#tasks"><i class="fa fa-wrench fa-lg"></i>&nbsp;&nbsp;<%= strings.Tasks %></a></li>
          <li><a href="#settings"><i class="fa fa-cog fa-lg"></i>&nbsp;&nbsp;<%= strings.Settings %></a></li>
          <% if (showAccount) { %>
			<li><a href="#account"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;Account</a></li>
		  <% } %>
        </ul>
    </li>
  </ul>
</div>
<div id="power-off-modal" class="reveal-modal" data-reveal>
</div>
