<div class="row">
	<div class="small-12 columns">
		<label><%= property.name %>
			<input id="recurrence" type="text" style="display: none;"></input>
			<select class="radius" id="recurrenceSelect">
				<option value="">never</option>
				<% for (var i=0; i < defaults.length; i++) { %>
					<option value="<%= defaults[i].value %>"><%= defaults[i].name %></option>
				<% } %>
			</select>
		</label>
	</div>
</div>
<div class="row" id="daySelector" style="display: none;">
	<div class="small-12 columns">
		<label>Only on these days</label>
		<input id="MO" type="checkbox"><label for="monday"><%= strings.Monday %></label></input>
		<input id="TU" type="checkbox"><label for="tuesday"><%= strings.Tuesday %></label></input>
		<input id="WE" type="checkbox"><label for="wednesday"><%= strings.Wednesday %></label></input>
		<input id="TH" type="checkbox"><label for="thursday"><%= strings.Thursday %></label></input>
		<input id="FR" type="checkbox"><label for="friday"><%= strings.Friday %></label></input>
		<input id="SA" type="checkbox"><label for="saturday"><%= strings.Saturday %></label></input>
		<input id="SU" type="checkbox"><label for="sunday"><%= strings.Sunday %></label></input>
	</div>
</div>
<div class="row" id="endSelector" style="display: none;">
	<div class="small-12 columns">
		<label>End date
			<input id="end" class="radius" type="text" placeholder="Never"/>
			<p class="help-text">The date the task will stop repeating</p>
		</label>
	</div>
</div>
