<div class="row">
	<div class="large-11 columns">
		<span id="display">
			<h1>
				<span id="deviceName"><%= device.name %></span>
				<% if (showNameEdit) { %>
					&nbsp;
					<small><i id="editName" class="fa fa-edit icon-button"></i></small>
				<% } %>
			</h1>
		</span>
		<span id="edit" style="display: none;">
				<div class="row collapse">
					<div class="small-10 columns">
						<input id="deviceNameField" type="text" value="<%= device.name %>" />
					</div>
					<div class="small-1 columns">
						<a id="cancelName" href="#" class="small secondary button postfix"><%=strings.Cancel%></a>
					</div>
					<div class="small-1 columns">
						<a id="saveName" href="#" class="small button postfix"><%=strings.Save%></a>
					</div>
				</div>
		</span>
	</div>
	<div class="large-1 columns text-center">
		<ul id="mainMenu" class="sm sm-clean">
			<li><a></a>
				<ul id="mainMenuItems">
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="content radius panel shadow-1" id="content-panel" style="padding: 25px;">
		</div>
	</div>
</div>
<div id="device-config-modal" style="z-index: 10000;" data-options="close_on_background_click:false;clone_on_esc:false;" class="reveal-modal" data-reveal>
</div>
