<div class="row">
	<div class="large-12 columns">
		<span id="display">
			<h1>
				<span id="deviceName"><%= device.name %></span>
				<% if (showNameEdit) { %>
					&nbsp;
					<small><i id="editName" class="fa fa-edit icon-button"></i></small>
				<% } %>
			</h1>
		</span>
		<span id="edit" style="display: none;">
				<div class="row collapse">
					<div class="small-10 columns">
						<input id="deviceNameField" type="text" value="<%= device.name %>" />
					</div>
					<div class="small-1 columns">
						<a id="cancelName" href="#" class="small secondary button postfix"><%=strings.Cancel%></a>
					</div>
					<div class="small-1 columns">
						<a id="saveName" href="#" class="small button postfix"><%=strings.Save%></a>
					</div>
				</div>
		</span>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<ul class="tabs" data-tab>
			<li class="tab-title <%= tabName === 'state' ? 'active' : '' %>"><a href="#device/<%= deviceUri %>/state"><%= strings.State %></a></li>
			<li class="tab-title <%= tabName === 'settings' ? 'active' : '' %>"><a href="#device/<%= deviceUri %>/settings"><%= strings.Settings %></a></li>
			<% if (device.telemetry && device.telemetry.capable) { %>
				<li class="tab-title <%= tabName === 'statistics' ? 'active' : '' %>"><a href="#device/<%= deviceUri %>/statistics"><%= strings.Statistics %></a></li>
			<% } %>
		</ul>
		<div class="tabs-content radius">
			<div class="content active" id="content-panel">
			</div>
		</div>
	</div>
</div>