<div class="row">
	<div class="medium-6 columns">
		<% if (variables.on) { %>
			<div class="tstat-status">
				SYSTEM <%= variables.on.value ? 'RUNNING' : 'IDLE' %>
			</div>
		<% } %>
		<div style="text-align: center; font-size: 8em; font-weight: bold;">
			<%= (variables.inTempF && variables.inTempF.value) ? variables.inTempF.value.toFixed(1) + '&deg;' : '?' %>
		</div>
	</div>
	<div class="medium-6 columns">
		<center>
		<ul class="small-block-grid-2">
			<% if (variables.targetHeatTempF && variables.targetCoolTempF) { %>
				<li style="font-size: 1.2em;" class="<%= variables.tstatMode.value === 'COOL' || variables.tstatMode.value === 'OFF' ? 'disabled' : '' %> text-right">Heat to: <b><%= variables.targetHeatTempF.value.toFixed(0) %>&deg;</b></li>
				<li><a href="#" id="up" class="radius button <%= variables.tstatMode.value === 'OFF' ? 'disabled' : '' %>"><i class="fa fa-chevron-up"></i></a></li>
				<li style="font-size: 1.2em;" class="<%= variables.tstatMode.value === 'HEAT' || variables.tstatMode.value === 'OFF' ? 'disabled' : '' %> text-right">Cool to: <b><%= variables.targetCoolTempF.value.toFixed(0) %>&deg;</b></li>
				<li><a href="#" id="down" class="radius button <%= variables.tstatMode.value === 'OFF' ? 'disabled' : '' %>"><i class="fa fa-chevron-down"></i></a></li>
			<% } else if (variables.targetTempF) { %>
				<li style="font-size: 1.2em;" class="text-right">Set to: <b><%= (variables.targetTempF && variables.targetTempF.value) ? variables.targetTempF.value.toFixed(0) + '&deg;' : '?' %></b></li>
				<li><a href="#" id="up" class="radius button"><i class="fa fa-chevron-up"></i></a></li>
				<li></li>
				<li><a href="#" id="down" class="radius button"><i class="fa fa-chevron-down"></i></a></li>
			<% } %>
		</ul>
		</center>
	</div>
</div>
<div class="row">
	<div class="small-6 columns" style="text-align: center;">
		<% if (variables.tstatMode) { %>
			<div style="margin-bottom: 10px;">Mode</div>
			<ul class="stack-for-small button-group round">
				<li><a href="#" id="mode-off" class="small button <%= variables.tstatMode.value === 'OFF' ? 'active' : '' %>">Off</a></li>
				<li><a href="#" id="mode-cool" class="small button <%= variables.tstatMode.value === 'COOL' ? 'active' : '' %>">Cool</a></li>
				<li><a href="#" id="mode-heat" class="small button <%= variables.tstatMode.value === 'HEAT' ? 'active' : '' %>">Heat</a></li>
				<li><a href="#" id="mode-auto" class="small button <%= variables.tstatMode.value === 'AUTO' ? 'active' : '' %>">Auto</a></li>
			</ul>
		<% } %>
	</div>
	<div class="small-6 columns" style="text-align: center;">
		<% if (variables.tstatFanMode) { %>
			<div style="margin-bottom: 10px;">Fan</div>
			<ul class="stack-for-small button-group round">
				<li><a href="#" id="fan-auto" class="small button <%= variables.tstatFanMode.value === 'AUTO' ? 'active' : '' %>">Auto</a></li>
				<li><a href="#" id="fan-on" class="small button <%= variables.tstatFanMode.value === 'ON' ? 'active' : '' %>">On</a></li>
			</ul>
		<% } %>
	</div>
</div>
