<ul class="sensor-tiles small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	<% if (variables.outTempF || variables.inTempF) { %>
		<li>
			<div class="sensor-tile shadow-1">
				<div class="title">
					Temperature
				</div>
				<div class="value" style="padding: 10px;">
					<div class="row">
						<div class="small-6 columns text-right" style="background-image: url(img/wstation-outdoors.png); background-repeat: no-repeat; background-position: center; height: 80px;">
							<div style="font-size: 35px; font-weight: bold;">
								<%= variables.outTempF && available ? variables.outTempF.value + '&deg;' : '<i class="fa fa-question"></i>' %>
							</div>
						</div>
						<div class="small-6 columns text-center" style="background-image: url(img/wstation-house.png); background-repeat: no-repeat; background-position: center; height: 80px;">
		 					<div style="font-size: 22px; font-weight: bold;">
								<%= variables.inTempF && available ? variables.inTempF.value + '&deg;' : '<i class="fa fa-question"></i>' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	<% } %>
	<% if (variables.outRh || variables.inRh) { %>
		<li>
			<div class="sensor-tile shadow-1">
				<div class="title">
					Humidity
				</div>
				<div class="value" style="padding: 10px;">
					<div class="row">
						<div class="small-6 columns text-right" style="background-image: url(img/wstation-outdoors.png); background-repeat: no-repeat; background-position: center; height: 80px;">
							<div style="font-size: 35px; font-weight: bold;">
								<%= variables.outRh && available ? variables.outRh.value + '<sup style="font-size: .5em;">%</sup>' : '<i class="fa fa-question"></i>' %>
							</div>
						</div>
						<div class="small-6 columns text-center" style="background-image: url(img/wstation-house.png); background-repeat: no-repeat; background-position: center; height: 80px;">
							<div style="font-size: 22px; font-weight: bold;">
								<%= variables.inRh && available ? variables.inRh.value + '<sup style="font-size: .5em;">%</sup>' : '<i class="fa fa-question"></i>' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	<% } %>
	<% if (variables.windSpdMph || windDir) { %>
		<li>
			<div class="sensor-tile shadow-1">
				<div class="title">
					Wind
				</div>
				<div class="value" style="padding: 10px;">
					<div class="row">
						<% if (windDir && available) { %>
							<div class="small-6 columns text-center" style="background-image: url(img/wstation-compass-<%= windDir %>.png); background-repeat: no-repeat; background-position: center; height: 80px;">
							</div>
						<% } else { %>
            <div class="small-6 columns text-center" style="height: 80px;">
              <i class="fa fa-question"></i>
            </div>
            <% } %>
						<div class="small-6 columns text-center" style="background-image: url(img/wstation-wspd.png); background-repeat: no-repeat; background-position: center; height: 80px;">
							<div style="font-size: 35px; font-weight: bold;">
								<%= variables.windSpdMph && available ? variables.windSpdMph.value + '&nbsp;<span style="font-size: .5em;">mph</span>' : '<i class="fa fa-question"></i>' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	<% } %>
</ul>
