<h1>Settings</h1>
<br/>
<div class="container">
    <form class="form" role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-10">
                    <label for="logLevel">Log Level</label>
                    <select class="form-control" id="logLevel" ng-model="logLevel" ng-change="onLogLevelChange(logLevel)">
                        <option value="INFO">INFO</option>
                        <option value="ERROR">ERROR</option>
                        <option value="WARN">WARN</option>
                        <option value="DEBUG">DEBUG</option>
                        <option value="TRACE">TRACE</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="logView" style="color: white;">Log Viewer</label>
                    <button id="logView" class="form-control btn btn-default btn-primary" data-ng-click="viewLog()">View Log</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <button class="btn btn-default btn-primary" data-ng-disabled="shuttingDown" data-ng-click="isCollapsed = !isCollapsed">
                Shutdown
            </button>
            <div collapse="isCollapsed">
                <div style="margin-top: 10px;" class="well well-lg">
                    <p>
                        Are you sure you want to shutdown the Hobson Hub?
                    </p>
                    <button class="btn btn-default btn-danger" ladda="shuttingDown" data-ng-click="shutdown()">
                        Yes, shut it down!
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-default btn-success" data-ng-disabled="shuttingDown" data-ng-click="isCollapsed = true">
                        Oops, forget it
                    </button>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>