<div class="container" data-cg-busy="{promise:loadingPromise, message:'Loading...', delay: 200}">
    <div class="row">
        <div class="col-sm-10">
            <h1>Automated Tasks</h1>
        </div>
        <div class="col-sm-2">
            <button style="margin-top: 20px;" type="button" class="btn btn-default btn-primary" ng-click="addTask()"><span
                    class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Task
            </button>
        </div>
    </div>
    <br/>
    <div class="alert alert-info" role="alert" data-ng-show="tasks.length == 0">There are currently no tasks. Click the "Add Task" button above to create one.</div>
    <table ng-if="tasks.length > 0" class="table table-striped">
        <tr>
            <th width="5%"></th>
            <th>Name</th>
            <th></th>
            <th width="10%"></th>
        </tr>
        <tr data-ng-repeat="task in tasks">
            <td ng-switch on="task.type" style="vertical-align: middle;">
                <span class="glyphicon glyphicon-time btn-lg" ng-switch-when="SCHEDULE" title="Schedule task"></span>
                <span class="glyphicon glyphicon-flash btn-lg" ng-switch-when="EVENT" title="Event task"></span>
            </td>
            <td style="vertical-align: middle" width="50%">{{task.name}}</td>
            <td ng-switch on="task.type" style="vertical-align: middle">
                <span ng-switch-when="SCHEDULE" ng-if="task.properties.error" class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{task.properties.error}}</span>
                <span ng-switch-when="SCHEDULE" ng-if="task.properties.nextRunTime" ng-class="(task.properties.scheduled) ? 'scheduled' : 'notscheduled'"><em>Next run:</em> {{task.properties.nextRunTime | date:'M-dd-yyyy \'at\' h:mm a'}}</span>
                <span ng-switch-when="SCHEDULE" ng-if="!task.properties.nextRunTime && !task.properties.error" ng-class="(task.properties.scheduled) ? 'scheduled' : 'notscheduled'"><em>Next run:</em> more than 1 year from today</span>
            </td>
            <td style="vertical-align: middle" align="right">
                <button type="button" class="btn btn-sm btn-danger"><span title="Delete" class="glyphicon glyphicon-remove" ng-click="deleteTask(task)"></span></button>
            </td>
        </tr>
    </table>
    <p class="small text-center" style="color: gray;" ng-if="sunrise"><span class="glyphicon glyphicon-certificate"></span>&nbsp;Today's sunrise is {{sunrise}} and sunset is {{sunset}}.</p>
    <p class="small text-center" style="color: gray;" ng-if="!sunrise"><span class="glyphicon glyphicon-certificate"></span>&nbsp;Unable to determine today's sunrise and sunset. You can fix this by entering your latitude/longitude in Settings.</p>
</div>
