<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h1>Triggers</h1>
        </div>
        <div class="col-sm-2">
            <button style="margin-top: 20px;" type="button" class="btn btn-default btn-primary" ng-click="addTrigger()"><span
                    class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Trigger
            </button>
        </div>
    </div>
    <br/>
    <div class="alert alert-info" role="alert" data-ng-show="triggers.length == 0">There are currently no triggers. Click the "Add Trigger" button above to create one.</div>
    <table ng-if="triggers.length > 0" class="table table-striped">
        <tr>
            <th width="5%"></th>
            <th>Name</th>
            <th></th>
            <th width="10%"></th>
        </tr>
        <tr data-ng-repeat="trigger in triggers">
            <td ng-switch on="trigger.type" style="vertical-align: middle;">
                <span class="glyphicon glyphicon-time btn-lg" ng-switch-when="SCHEDULE" title="Schedule trigger"></span>
                <span class="glyphicon glyphicon-flash btn-lg" ng-switch-when="EVENT" title="Event trigger"></span>
            </td>
            <td style="vertical-align: middle" width="50%">{{trigger.name}}</td>
            <td ng-switch on="trigger.type" style="vertical-align: middle">
                <span ng-switch-when="SCHEDULE" ng-if="trigger.properties.nextRunTime"><em>Next run:</em> {{trigger.properties.nextRunTime | date:'M-dd-yyyy \'at\' h:mm a'}}</span>
                <span ng-switch-when="SCHEDULE" ng-if="!trigger.properties.nextRunTime"><em>Next run:</em> more than 1 day</span>
            </td>
            <td style="vertical-align: middle" align="right">
                <button type="button" class="btn btn-sm btn-danger"><span title="Delete" class="glyphicon glyphicon-remove" ng-click="deleteTrigger(trigger)"></span></button>
            </td>
        </tr>
    </table>
</div>
