<div id="tileIcon" class="tile-icon <%= on && available ? 'active' : '' %> <%= !available ? 'disabled' : '' %>">
	<% if (device.preferredVariable && device.preferredVariable.name === 'ecw') { %>
		<div class="medium"><%= Math.round(device.preferredVariable.value) %> W</div>
	<% } else { %>
		<img src="img/icon-sensor.png" />
	<% } %>
</div>
<div id="tileButton" class="tile-button">
	<span><%= device.name %></span>
	<span class="tile-info-icon">
		<i class="fa fa-info-circle"></i>
	</span>
</div>
