<div id="error" class="row" style="display: none;">
	<div class="large-12 columns">
		<div id="errorMsg" data-alert class="alert-box alert radius">
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<label>Task Name
		<input id="taskName" class="radius" type="text" value="<%= task.name ? task.name : 'New Task' %>" />
		</label>
	</div>
	<div class="large-12 columns">
		<label>Description
		<input id="taskDescription" class="radius" type="text" value="<%= task.description %>" placeholder="Optional" />
		</label>
	</div>
</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div id="taskConditionsEditor" class="task-panel shadow-1">
		</div>
	</div>
	<div class="large-6 columns">
		<div id="taskActionsPanel" class="task-panel shadow-1">
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="form-control-bar">
			<a id="buttonCancel" class="radius secondary button small left shadow-1" href="#/tasks">Cancel</a><a id="buttonCreate" class="radius button small right shadow-1">Create</a>
		</div>
	</div>
</div>