<div class="row">
	<div class="large-12 columns">
		<h1><%= strings.AddTask %></h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<label>Task Name
		<input class="radius" type="text" />
		</label>
		<div id="taskConditionsEditor" class="task-panel">
		</div>
		<div id="taskActionsPanel" class="task-panel">
		</div>
		<div class="form-control-bar">
			<a id="buttonCancel" class="radius secondary button small left" href="#/tasks">Cancel</a><a id="buttonCreate" class="radius button small right">Create</a>
		</div>
	</div>
</div>