<div class="row">
	<div class="small-12 columns form-field">
		<label><b><%= property.name %></b><% if (required) { %>&nbsp;<small><%= strings.Required %></small><% } %>
			<input id="<%= id %>" type="text" style="display: none;" />
			<div id="colorView" type="text" style="width: 100%; height: 30px; background: black;"></div>
		</label>
		<small style="display: none;" class="error"><%= strings.ThisIsRequiredField %></small>
		<p class="description"><%= property.description %></p>
	</div>
</label>
