<div class="row">
  <div class="large-12 columns">
    <label><b><%= property ? property.name : '' %></b><% if (required) { %>&nbsp;<small><%= strings.Required %></small><% } %>
      <div id="deviceList" class="radius device-list">
      </div>
      <small style="display: none;" class="error"><%= strings.ThisIsRequiredField %></small>
      <p style="display: <%= showDescription ? 'block' : 'none' %>"><%= property ? property.description : '' %>&nbsp;(<span id="deviceCount"></span>)</p>
    </label>
  </div>
</div>
