<div class="row">
	<div class="small-12 columns">
		<label><b><%= property.name %></b>
			<input id="recurrence" type="text" value="never" style="display: none;"></input>
			<select class="radius" id="recurrenceSelect">
				<option value="never">never</option>
				<% for (var i=0; i < defaults.length; i++) { %>
					<option value="<%= defaults[i].value %>"><%= defaults[i].name %></option>
				<% } %>
			</select>
		</label>
	</div>
</div>
<div class="row" id="daySelector" style="display: none; margin-top: 10px;">
	<div class="small-12 columns">
		<label><b><%= strings.OnlyOnTheseDays %></b></label>
		<input id="MO" type="checkbox"><label for="monday"><%= strings.Monday %></label></input>
		<input id="TU" type="checkbox"><label for="tuesday"><%= strings.Tuesday %></label></input>
		<input id="WE" type="checkbox"><label for="wednesday"><%= strings.Wednesday %></label></input>
		<input id="TH" type="checkbox"><label for="thursday"><%= strings.Thursday %></label></input>
		<input id="FR" type="checkbox"><label for="friday"><%= strings.Friday %></label></input>
		<input id="SA" type="checkbox"><label for="saturday"><%= strings.Saturday %></label></input>
		<input id="SU" type="checkbox"><label for="sunday"><%= strings.Sunday %></label></input>
	</div>
</div>
<div class="row" id="endSelector" style="display: none; margin-top: 20px;">
	<div class="small-12 columns form-field">
		<label><b><%= strings.EndDate %></b>
			<input id="end" class="radius" type="text" placeholder="Never"/>
		</label>
		<p class="description"><%= strings.EndDateDescription %></p>
	</div>
</div>
