/* Fonts */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans-regular-webfont.woff) format('woff');
}

/* Utilities */
@import "utilities/settings";

@import "normalize";
@import "foundation";
@import "toastr";
@import "font-awesome";
@import "chartist";

/* Base */
@import "base/base";

/* Modules */
@import "modules/button";
@import "modules/data";
@import "modules/devices";
@import "modules/form";
@import "modules/list";
@import "modules/nav";
@import "modules/shadow";
@import "modules/sidr";
@import "modules/switch";
@import "modules/tabs";
@import "modules/tasks";
@import "modules/tiles";
@import "modules/grid";
