<div class="row">
	<div class="large-12 columns">
		<label><%= strings.Name %>
		<input id="dataStreamName" class="radius" type="text" value="" />
		</label>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<label><%= strings.Fields %></label>
		<div class="radius panel">
			<div id="variables">
			</div>
			<div class="add-selectors-panel">
				<i id="buttonPlus" class="fa fa-plus fa-3x icon-button"></i>
				<div id="variableSelectorPanel" class="task-inner-panel shadow-1" style="display: none;">
				</div>
			</div>
		</div>
	</div>
</div>

