<div id="error" class="row" style="display: none;">
	<div class="large-12 columns">
		<div id="errorMsg" data-alert class="alert-box alert radius">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h1>New Data Stream</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div id="dataProperties">
			<div class="text-center"><img src="img/loading.gif" /></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="form-control-bar">
			<a id="buttonCancel" class="radius secondary button small left shadow-1" href="#/data">Cancel</a><a id="buttonCreate" class="radius button small right shadow-1"><%= editMode ? strings.Update : strings.Create %></a>
		</div>
	</div>
</div>