/**
 * Site settings
 */

/* Typography */
$base-font-size: 16px;
$base-font-weight: 300;
$font-1: "Open Sans", Helvetica, sans-serif;

/* Colors */
$color-background-dark: #2D2D2D;
$color-bg-page: #FFFFFF;
$color-disabled: #bbc8d0;
$color-btn-primary: #0c4a71;
$color-btn-primary-hover: #10649e;
$color-btn-primary-disabled: $color-disabled;
$color-btn-secondary: #3cb8d1;
$color-btn-secondary-hover: #038ca5;
$color-dash-tile-bg: #353535;
$color-dash-tile-border: #E3E3E3;
$color-dash-tile-on: #FFBA00;
$color-dash-tile-disabled: #f04124;
$color-dash-tile-text: #FFFFFF;
$color-form-help-text: #939191;
$color-highlight-dark: #424242;
$color-highlight-light: #BFBFBF;
$color-panel-bg: #F1F1F1;
$color-panel-border: #E6E6E6;
$color-plugin-tile-bg: #FFFFFF;
$color-plugin-tile-border: #aeadae;
$color-selector-tile-bg: $color-dash-tile-bg;
$color-selector-tile-on-bg: $color-dash-tile-on;
$color-sidebar-bg: #333333;
$color-sidebar-header-bg: #424242;
$color-subnav-bg: #33414e;
$color-subnav-text: #FFFFFF;
$color-subnav-active: #3cb8d1;
$color-text: #26313d;
$color-text-dark: #062031;
$color-text-light: #a5a5a5;
$color-success: green;
$color-warn: #FCCE00;
$color-error: #f04124;

/* Positioning */
$margin-side: 40px;
$nav-height: 80px;
$subnav-height: 45px;
$tab-spacing: 5px;
$tab-panel-margin-side: 30px;

/* Tabs */
$tab-radius: 5px;

/* Tiles */
$tile-width: 175px;
$tile-radius: 15px;

/* Foundation overrides */
$row-width: 90%;
$legend-bg: none;
$legend-font-weight: 100;
$accordion-navigation-font-color: $color-btn-primary;
$button-group-border-width: 0px;
$f-dropdown-bg: $color-subnav-bg;
$f-dropdown-list-hover-bg: $color-subnav-active;

/* Chartist overrides */
$ct-line-width: 3px;
$ct-point-size: 7px;
$ct-series-colors: (
  #d70206, // red
  #0544d3, // blue
  #f4c63d, // yellow
  #59922b, // green
  #6b0392, // purple
  #86797d, // grey
  #f05b4f, // pink
  #6188e2, // light blue
  #eacf7d, // light yellow
  #b2c326, // light green
  #a748ca, // light purple
  #453d3f, // blue-black
  #dda458, // dark yellow
  #d17905, // yellow-brown
  #f05b4f, // pink
)
