
<div class="row">
	<div class="large-12 columns">
		<h1><%= strings.HomeInsight %></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h2>Electricity</h2>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="graphBaseline1"></div>
	</div>
</div>
<div class="row" style="margin-top: 15px;">
	<div class="small-6 columns">
		<div class="radius panel">
			<p><i>BTUs (British Thermal Units)</i> is what your power company uses to measure your electrical consumption.</p>
			<p>For a typical home, monthly usage is measured in millions of BTUs (MMBTU).</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="radius panel">
			<p>Your <i>base load</i> is your electrical consumption when heating and cooling factors are removed.</p><p>Identifying the biggest contributors to your base load is a good first step to reduce costs.</p>
		</div>
	</div>
</div>
