<div class="row">
	<div class="large-12 columns">
		<h1><%= strings.HomeInsight %></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<p>Hobson's Insight capabilities can help you better understand your home's energy consumption. The more information you give it, the better insight it can provide to help you save money.</p>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h2>Energy Consumption</h2>
	</div>
</div>
<div class="row" style="margin-top: 25px;">
	<div class="medium-6 columns" style="text-align: center;">
		<div style="font-size: 1.1em;">2014 Avg. Monthly Cost (regional)</div>
		<div style="font-size: 10em; font-weight: bold; color: #0C5C31;">$80</div>
		<a class="tiny radius button">Details</a>
	</div>
	<div class="medium-6 columns">
		<div id="graphBaseline2"></div>
		<div style="text-align: center; font-size: .8em; font-weight: bold;">Click on a category to learn more</div>
	</div>
</div>
<div class="row" style="margin-top: 40px; text-align: center;">
	<div class="small-12 columns">
		<p style="font-size: 1.1em;">How does your home compare to the average? Take Hobson's <i>Home Energy Audit</i> to find out!</p>
		<a class="small radius button">Start Home Energy Audit</a>
	</div>
</div>