<div class="row">
	<div class="large-12 columns">
		<div id="actionExecutionContainer">
			<p class="text-center"><i class="fa fa-lg fa-spinner fa-spin"></i>&nbsp;Loading...</p>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 25px;">
	<div class="large-12 columns">
		<div class="job-control-bar" style="display: none;">
			<a id="buttonStop" class="radius secondary button small left shadow-1" href="#/devices"><%= strings.Stop %></a><a id="buttonDone" class="radius button small right shadow-1"><%= strings.Done %></a>
		</div>
	</div>
</div>
