.button {
	margin: 0;
	padding: 1em 3em;
	font-size: 1.3em;
	font-weight: 200;
	border: none;
	background-color: $color-btn-primary;
	text-transform: uppercase;
	letter-spacing: 2px;
	outline: none;
}

.button.active {
	background: $color-dash-tile-on;
	outline: none;
}

.button.disabled {
	background: $color-btn-primary-disabled;
	outline: none;
}

.button.disabled:hover {
	background: $color-btn-primary-disabled;
	outline: none;
}

.button:hover {
	background-color: $color-btn-primary-hover;
}

.button.secondary {
	background-color: $color-btn-secondary;
	color: white;
}

.button.secondary:hover {
	background-color: $color-btn-secondary-hover;
	color: white;
}

.button-panel {
	text-align: center;
	margin: 25px 0;
}

.button-group .button {
	background: $color-btn-primary;
}

.button-group .button.active {
	background: $color-btn-secondary;
	cursor: default;
}

.icon-button {
	cursor: pointer;
	color: $color-btn-primary;
}

.icon-button:hover {
	color: $color-btn-primary-hover;
}

.icon-button.secondary {
	color: $color-btn-secondary;
}

.icon-button.secondary:hover {
	color: $color-btn-secondary-hover;
}
