.ct-chart {
    max-height: 450px;
    margin-bottom: 25px;
}

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    text-align: center;
    font-size: .9em;
    font-weight: 300;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D; 
}

.chartist-tooltip.tooltip-show {
    opacity: 1;
}

#legend-container {
    text-align: center;
}

.ct-legend {
    list-style-type: none;
    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
    li {
        text-size: 1em;
        height: 1em;
        display: inline;
        position: relative;
        padding-left: 23px;
        margin-right: 10px;
        margin-bottom: 3px;
    }
    li:before {
        width: 1em;
        height: 1em;
        vertical-align: center;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }
    li.inactive:before {
        background: transparent;
    }
}
