.tstat-status {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: $color-dash-tile-on;
}

.device-list {
  margin-top: 10px;
  ul {
    margin-left: 0px;
    margin-bottom: 12px;
  }
}
