select {
	font-family: $font-1;
	outline: none;
}

.form-control-bar {
	min-height: 3em;
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: right;
}

#map-container {
	max-height: 400px;
	line-height: 400px;
	vertical-align: top;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	img {
		display: block;
		width: 100%;
		max-width: 400px;
		max-height: 400px;
	}
}

#chartContainer {
	margin-top: 20px;
}