select {
	font-family: $font-1;
	outline: none;
}

.form-control-bar {
	min-height: 3em;
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: right;
}

#map-container {
	min-height: 400px;
	max-height: 400px;
	vertical-align: top;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	img {
		display: block;
		width: 100%;
		max-width: 400px;
		max-height: 400px;
	}
	p {
		line-height: 400px;
		vertical-align: middle;
	}
}

#chartContainer {
	margin-top: 20px;
}

.device-picker {
	text-align: left;
	margin-bottom: 20px;
	ul {
		li {
			display: inline-block;
			overflow: hidden;
			cursor: pointer;
			padding: 10px;
			border-radius: 5px;
			background: $color-selector-tile-bg;
			margin-right: 20px;
			max-width: 75px;
			min-width: 75px;
			max-height: 75px;
			min-height: 75px;
			text-align: center;
			img {
				width: 25px;
				height: 25px;
				margin-bottom: 5px;
			}
			.title {
				color: white;
				font-size: .65em;
				line-height: 1.1em;
			}
		}
		li.active {
			background: $color-selector-tile-on-bg;
		}
	}
}

.alert-box {
	font-weight: 100;
	ul {
		margin-bottom: 0;
	}
}