<div class="row">
	<div class="large-12 columns text-right" style="margin-bottom: 10px;">
		<a href="#devices/add" class="radius button tiny shadow-1"><i class="fa fa-plus"></i>&nbsp;<%= strings.NewDevice %></a>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div id="tileGroups" class="large-12 columns">
			<div id="loading" class="text-center" style="margin-top: 100px;"><img src="img/loading.gif" /></div>
			<p class="notice" style="display: none;"><%= strings.NoDevicesPublished %></p>
		</div>
	</div>
</div>