<div id="tileIcon" class="tile-icon <%= on ? 'active' : '' %>">
	<% if (device.preferredVariable && device.preferredVariable.name === 'tempF') { %>
		<div class="temp"><%= device.preferredVariable.value %>&deg;</div>
	<% } else if (device.preferredVariable && device.preferredVariable.name === 'imageStatusUrl') { %>
		<div id="image-container"></div>
	<% } else { %>
		<img src="img/icon-<%= device.type.toLowerCase() %>.png" />
	<% } %>
	<div id="work-icon" style="display: none;">
		<% if (device.type === 'CAMERA') { %>
			<i class="fa fa-refresh fa-spin"></i>
		<% } else { %>
			<i class="fa fa-spinner fa-spin"></i>
		<% } %>
	</div>
</div>
<div id="tileButton" class="tile-button">
	<span><%= device.name %></span>
	<span class="tile-info-icon">
		<i class="fa fa-info-circle"></i>
	</span>
</div>
