<div class="inset">
	<div class="row">
		<div id="hubListContainer" class="large-12 columns">
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-12 columns">
				<fieldset class="radius">
					<legend>Add New Hub</legend>
					<label>Hub name
						<input id="hubName" class="radius" type="text" />
					</label>
					<div style="text-align: center;">
						<a id="button-add" href="#account/hubs/add" class="tiny radius button">Add Hub</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>