<div class="row">
	<div class="large-12 columns">
		<h1><%= user.givenName %>'s <%= strings.Account %></h1>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<ul class="tabs" data-tab>
			<li id="tab-hubs" class="tab-title <%= tabName === 'Hubs' ? 'active' : '' %>"><a href="#account/hubs"><%= strings.Hubs %></a></li>
			<li id="tab-profile" class="tab-title <%= tabName === 'Profile' ? 'active' : '' %>"><a href="#account/profile"><%= strings.Profile %></a></li>
		</ul>
		<div class="tabs-content radius">
			<div class="content active" id="content-panel">
			</div>
		</div>
	</div>
</div>