<div class="plugin-tile">
	<div class="plugin-content">
		<div class="plugin-icon">
		</div>
 		<div class="plugin-text">
		 	<h1><%= plugin.name %></h1>
		 	<p><%= plugin.description %></p>
 		</div>
	 	<a class="tiny radius button">Settings</a>
 	</div>
 	<!--
	<div class="plugin-footer <%= plugin.status.status %>">
		<% if (plugin.status.status === 'NOT_CONFIGURED') { %>
			<i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;
			<%= strings.PluginNotConfigured %>
		<% } else if (plugin.status.status === 'ERROR') { %>
			<i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;&nbsp;
			<%= strings.PluginError %>
		<% } %>
		<% if (plugin.links.configuration) { %>
			<i id="button-settings" class="fa fa-cog"></i>
		<% } %>
	</div>
	-->
</div>