<div class="plugin-tile">
	<div class="plugin-content">
		<div class="plugin-icon">
			<img src="<%= plugin.image['@id'] %>" />
		</div>
 		<div class="plugin-text">
		 	<h1><%= plugin.name %></h1>
		 	<p><%= plugin.description %></p>
 		</div>
 		<% if (plugin.configurable) { %>
	 		<a id="buttonSettings" class="tiny radius button">Settings</a>
	 	<% } %>
 	</div>
	<% if (plugin.status.status === 'NOT_CONFIGURED') { %>
	 	<div class="plugin-overlay">
	 		<p>
	 			<i class="fa fa-warning fa-4x"></i>
	 			<br/>
	 			<%= plugin.name %> <%= strings.RequiresConfiguration %>
	 			<p>
	 				<a id="buttonSettings" class="tiny radius button"><%= strings.Settings %></a>
	 			</p>
	 		</p>
	 	</div>
	<% } else if (plugin.status.status === 'ERROR') { %>
	 	<div class="plugin-overlay">
	 		<p>
	 			<i class="fa fa-exclamation-circle fa-4x"></i>
	 			<br/>
		 		<p><%= strings.PluginError %></p>
	 			<p>
	 				<a id="buttonSettings" class="tiny radius button"><%= strings.Settings %></a>
	 			</p>
	 		</p>
	 	</div>
	<% } %>
</div>