<div class="row">
	<div class="large-12 columns">
		<ul class="show-for-large-up tabs" data-tab>
			<li id="tab-general" class="tab-title <%= tabName === 'general' ? 'active' : '' %>"><a href="#settings/general"><%= strings.General %></a></li>
			<li id="tab-email" class="tab-title <%= tabName === 'email' ? 'active' : '' %>"><a href="#settings/email"><%= strings.Email %></a></li>
			<li id="tab-presence" class="tab-title <%= tabName === 'presence' ? 'active' : '' %>"><a href="#settings/presence"><%= strings.Presence %></a></li>
			<li id="tab-log" class="tab-title <%= tabName === 'log' ? 'active' : '' %>"><a href="#settings/log"><%= strings.Log %></a></li>
			<li id="tab-plugins" class="tab-title <%= tabName === 'plugins' ? 'active' : '' %>"><a href="#settings/plugins"><%= strings.Plugins %></a></li>
		</ul>
    <dl class="hide-for-large-up sub-nav">
      <dd class="<%= tabName === 'general' ? 'active' : '' %>"><a href="#settings/general"><%= strings.General %></a></dd>
      <dd class="<%= tabName === 'email' ? 'active' : '' %>"><a href="#settings/email"><%= strings.Email %></a></dd>
      <dd class="<%= tabName === 'presence' ? 'active' : '' %>"><a href="#settings/presence"><%= strings.Presence %></a></dd>
      <dd class="<%= tabName === 'log' ? 'active' : '' %>"><a href="#settings/log"><%= strings.Log %></a></dd>
      <dd class="<%= tabName === 'plugins' ? 'active' : '' %>"><a href="#settings/plugins"><%= strings.Plugins %></a></dd>
    </dl>
		<div class="tabs-content radius">
			<div class="content active" id="content-panel">
				<div id="loading" style="text-align: center; margin-top: 25px;">
					<img src="img/loading.gif" />
				</div>
			</div>
		</div>
	</div>
</div>
