<div class="row">
	<div class="large-12 columns">
		<ul class="tabs" data-tab>
			<li id="tab-general" class="tab-title <%= tabName === 'general' ? 'active' : '' %>"><a href="#settings/general"><%= strings.General %></a></li>
			<li id="tab-email" class="tab-title <%= tabName === 'email' ? 'active' : '' %>"><a href="#settings/email"><%= strings.Email %></a></li>
			<li id="tab-log" class="tab-title <%= tabName === 'log' ? 'active' : '' %>"><a href="#settings/log"><%= strings.Log %></a></li>
			<li id="tab-plugins" class="tab-title <%= tabName === 'plugins' ? 'active' : '' %>"><a href="#settings/plugins"><%= strings.Plugins %></a></li>
		</ul>
		<div class="tabs-content radius">
			<div class="content active" id="content-panel">
			</div>
		</div>
	</div>
</div>