<div class="inset">
	<div class="row">
		<div class="large-12 columns">
			<fieldset>
				<legend><%= strings.LogLevel %></legend>
				<div class="large-10 medium-10 columns">
					<input id="ERROR" type="radio" name="logLevel" <%= logLevel === 'ERROR' ? 'checked' : '' %>><label for="ERROR"><%= strings.Error %></label>
					<input id="WARN" type="radio" name="logLevel" <%= logLevel === 'WARN' ? 'checked' : '' %>><label for="WARN"><%= strings.Warn %></label>
					<input id="INFO" type="radio" name="logLevel" <%= logLevel === 'INFO' ? 'checked' : '' %>><label for="INFO"><%= strings.Info %></label>
					<input id="DEBUG" type="radio" name="logLevel" <%= logLevel === 'DEBUG' ? 'checked' : '' %>><label for="DEBUG"><%= strings.Debug %></label>
					<input id="TRACE" type="radio" name="logLevel" <%= logLevel === 'TRACE' ? 'checked' : '' %>><label for="TRACE"><%= strings.Trace %></label>
				</div>
				<div class="large-2 medium-2 columns">
					<a id="saveButton" class="tiny button radius shadow-1 right" href="#">Save</a>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row" style="margin-top: 25px;">
		<div id="log-table-container" class="large-12 columns">
			<h4>Recent Log Entries</h4>
			<div id="loading" style="text-align: center; margin-top: 25px;">
				<img src="img/loading.gif" />
			</div>
		</div>
	</div>
</div>